body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .content { 
        padding:0;
        width:738px;
    }
}

@media only screen and (min-width: 1000px) {
    .content { 
        width:960px
    }
}

@media only screen and (min-width: 1240px) {
    .content { 
        width:1200px
    }
}

@media only screen and (min-width: 1440px) {
    .content {
        width:1400px
    }
}

@media only screen and (min-width: 1640px) {
    .content {
        width:1600px
    }
}

h3 {
    margin: 35px 0 25px 0;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 700;
}

p {

}

.content code { 
    padding: 3px 5px;
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    border: solid 1px #f2ebde;
    background: #fff; 
}

.content code .ct {
    color: #555
}

.content pre.highlight {
    padding: 10px 0 15px 15px;
    overflow: auto;
    line-height: 1.5;
    border: solid 1px #f2ebde;
    background: white;
}

pre.highlight code { 
    font-size: 15px;
    padding: 0;
    border: none; 
}

span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.highlight { background: #ffffff; }
.highlight .p { color: #d60000; font-weight: bold } /* Preprocessor */
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #f79e00; font-weight: bold; font-style: italic } /* Keyword */
.highlight .o { color: #595143; font-weight: bold } /* Operator */
.highlight .ow { color: #595143; font-weight: bold } /* Operator Word */
.highlight .n { color: #ff1eba } /* Literal Number */
.highlight .s { color: #00af62 } /* Literal String */
.highlight .v { color: #0077cc } /* Name Variable */
.highlight .a { color: #b54eea } /* Name Attribute */
.highlight .f { color: #af9905; font-weight: bold } /* Name Function */